body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 20px; /* Changed from 2% to 20px */
}

nav li {
    display: inline;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Job Search Box */
.job-search {
    padding: 50px 0;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.job-search h2 {
    margin-bottom: 20px;
}

.job-search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-search input {
    padding: 10px;
    width: 60%;
    border-radius: 20px 20px 20px 20px;
}

.job-search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    margin-left: 0.1%;
}

/* Job Listings */
.job-listings {
    padding: 50px 0;
    padding-bottom: 50%;
}

.job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.job-card h3 {
    color: #333;
}

.job-card p {
    color: #666;
    margin-bottom: 10px;
}

.job-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;

    position: fixed;
      bottom: 0;
      width: 100%;
}