body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 20px; /* Changed from 2% to 20px */
}

nav li {
    display: inline;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Login Form */
.login-form {
    padding: 50px 0;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input {
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;

    position: fixed;
      bottom: 0;
      width: 100%;
}